# Rename this file to machines.toml and edit it with your machine's info.
# Copy the [[machines]] block below to add more machines.

[[machines]]
name = "my-server"
host = "192.168.1.113"
port = 22
username = "myuser"
password = "mypassword"
allow_password_auth = true
use_agent = false
strict_host_key_checking = false

[[machines]]
name = "my-server-2"
host = "192.168.1.114"
port = 22
username = "myuser"
password = "mypassword2"
allow_password_auth = true
use_agent = false
strict_host_key_checking = false
